<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intel.profilinginstrumentation" >

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Profiling Instrumentation"
        android:targetPackage="com.intel.profilinginstrumentation" />

</manifest>
